.root {
    -fx-font-family: 'Consolas';
    -fx-background-color: #f0f0f0;
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
}

.button:hover {
    -fx-background-color: #45a049;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.text-area {
    -fx-font-size: 14px;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 10;
}
